extends ./layout.pug

block content
    div(class="row mt-5")
        div(class="col-md-6 m-auto")
            div(class="card card-body")
                img(src="../static/images/picarousel-logo.png" id='name-logo' alt="Picarousel Logo") 
                hr
                div(class='d-grid gap-2 d-md-flex justify-content-md-center')
                    a(type="submit" class="btn btn-primary" href='/auth/google') 
                        i(class="fab fa-google") oogle                                      
                    a(type="submit" class="btn btn-info" href='/auth/facebook') 
                        i(class="fab fa-facebook-f") acebook  
                hr              
                include includes/flash.pug
                form(action="/users/login", method="post")
                    div(class="form-group")
                        label(for='email') Email
                        input#email(type="email", name="username", class="form-control", placeholder="Email" required)
                    div(class="form-group")
                        label(for='password') Password
                        input#password(type="password", name="password", class="form-control", placeholder="Password" required)
                    button(type="submit" class="btn btn-primary btn-block") Login
                p(class='lead mt-4') Do not have an account? 
                    a(href="/users/register") Register  